<!-- Implemented by Matthew Ding -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Citizenship Eligibility Calculator</title>
</head>
<body>
    <h2>Since you have not lived in the United States for over 5 years, you must meet these conditions</h2>
    <!-- Create radio buttons to allow a user to confirm their status for each requirement -->
    <form action="/calcPage2" method="post" style="text-align: center;">
        <p>1. Are you married to and living with a citizen of the United States?</p>
        <label><input type="radio" name="spouseCit" value="yes"/>Yes</label>
        <label><input type="radio" name="spouseCit" value="no"/>No</label>

        <p>2. If yes to question 1, have you been married for over three years?</p>
        <label><input type="radio" name="marriageLen" value="yes"/>Yes</label>
        <label><input type="radio" name="marriageLen" value="no"/>No</label>

        <p>3. If yes to question 1, has your spouse been a citizen for over three years?</p>
        <label><input type="radio" name="spouseCitLen" value="yes"/>Yes</label>
        <label><input type="radio" name="spouseCitLen" value="no"/>No</label>

        <p>4. In the past three years, have you lived outside the United States for more than 18 months?</p>
        <label><input type="radio" name="inCountry" value="yes"/>Yes</label>
        <label><input type="radio" name="inCountry" value="no"/>No</label>

        <!-- Button to submit all choices for this page -->
        <p></p>
        <input type="submit" id="button1" name="next" value="Next">
    </form>
</body>
</html>