<!-- Implemented by Donal Pradeep -->

{% extends 'base.html' %}

{% block content %}
<head>
    <title>How to become a US citizen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Citizenship through Derivation</h1>
    <h4>When a parent naturalizes, his or her children, under the age of 18 and living with the parent, may derive U.S. citizenship automatically, provided they are also permanent residents.</h4>
    Generally foreign-born children under 18 automatically acquire U.S. citizenship if 3 requirements are met:
    <li>The child is a permanent resident (green card holder).</li>
    <li>At least one parent is a U.S. citizen.</li>
    <li>The child must be residing in the U.S., in legal and physical custody of a U.S. citizen parent.</li>
    <br> <a href="https://www.uscis.gov/n-600" target="_blank">You should file the following: Form N-600, Application for Certificate of Citizenship.</a>
</body>
{% endblock %}
