<!-- Implemented by Donal Pradeep -->

{% extends 'base.html' %}

{% block content %}
<head>
    <title>How to become a US citizen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Citizenship through Naturalization</h1>
    This is the most common way for foreign-born persons to become a U.S. citizen. Applicants must be 18 years old and fall into one of the three categories below:</br>
    <br><a href="naturalization.html" target="_blank">More on Naturalization</a>
    <br> <a href="https://www.uscis.gov/n-400" target="_blank">You should file the following: Form N-400, Application for Naturalization.</a>
    <h1>Citizenship through Acquisition</h1>
    A child may acquire citizenship automatically if born outside the United States if a parent was a U.S. citizen at the time of the child's birth.</br>
    <br><a
    href="acquisition.html"
    target="_blank">More on Acquisition</a>
    <br> <a
    href="https://www.uscis.gov/n-600"
    target="_blank">You should file the following: Form N-600, Application for Certificate of Citizenship.</a>
    <h1>Citizenship through Derivation</h1>
    When a parent naturalizes, his or her children, under the age of 18 and living with the parent, may derive U.S. citizenship automatically, provided they are also permanent residents.</br>
    <br><a
    href="derivation.html"
    target="_blank">More on Derivation</a>
    <br> <a
    href="https://www.uscis.gov/n-600"
    target="_blank">You should file the following: Form N-600, Application for Certificate of Citizenship.</a>
</body>
{% endblock %}
