<!--February 12, 2021. Edmund Allen, eballen@scu.edu
html file for the Home page.-->

{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>NaturalizeMe!</title>
</head>
    <h1 style="text-align: center;">Welcome to <strong>{% block title %}NaturalizeMe! {% endblock %}</strong></h1> <!---->
    <p1 style="text-align: center;"><strong>NaturalizeMe</strong> is a free-to-use website designed to simplify the convoluted process of applying for citizenship by naturalization
        in the United States. Our team has designed this site with “ease of use” in mind, with a built-in eligibility calculator that determines
        your naturalization eligibility and redirects you accordingly to the section of <strong>NaturalizeMe</strong> most relevant to your situation. </p1> <!--<strong> bolds captured words.-->
{% endblock %}