<!-- Implemented by Donal Pradeep -->

{% extends 'base.html' %}

{% block content %}
<head>
    <title>How to become a US citizen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Citizenship through Naturalization</h1>
    <h4>This is the most common way for foreign-born persons to become a U.S. citizen. Applicants must be 18 years old and fall into one of the three categories below:</h4>
    <li>5 years as a permanent resident.</li>
    <li>3 years as a permanent resident who is married with a U.S. citizen spouse for at least 3 years.</li>
    <li>Qualifying service in the U.S. armed forces.</li>
    <br>Here's a link with more information from U.S. Immigration: https://www.uscis.gov/sites/default/files/files/article/chapter4.pdf
    <br><br> <a
    href="https://www.uscis.gov/n-400"
    target="_blank">You should file the following: Form N-400, Application for Naturalization.</a>
</body>
{% endblock %}
